body{
height: 4000px;
   background-color: rgba(233, 224, 224, 0.897);
}

.container {
   width: 888px;
   margin: 0 auto;
   padding-top: 40px;
   padding-bottom: 40px;
   padding-left: 40px;
   padding-right: 40px;
   background: url(img/shadows.png) repeat-y;
}
.wrap1{
background: url(img/bg.jpg);
background-image: url(img/bg.jpg);
    margin: 0px 1em;
    padding: 45px;
   border-bottom: rgb(196, 196, 199) 1px solid;
}
.header{
   width: 1000px;
    height: 20px;
    margin: 0 1px;
    padding-top: 104px;
}
.wrap1 h1{
   font-style: normal;
      float: left;
   margin: -16px;
   /* left: 20px; */
   font-size: 34px;
   color: #533c47;
}
.mid{
   display: block;
   width: 63%;
   margin: -35px 311px;

}
.left h1{
   display: inline block;
   position: absolute;
   left: 20px;
}
.navbar{
   display: inline-block;
}
.navbar li{
   display: inline-block;
  margin: 20px;
}
ul.navbar{
   width: 209px;
   padding: 4px 0px;
   font-size: x-large;
   display: flex;
}
.banner-shadows {
   background: url(img/shadows1.jpg) no-repeat center;
   width: 878px;
   height: 38px;
}
.wrap2{
   background: url(img/bg2.jpg);
background-image: url(img/bg2.jpg);
margin: 0px 0px;
}
.banner{
   margin: -10px auto;
   padding-left: 1px;
}
.wrap3{
overflow: hidden;
background: url(img/bg3.jpg);
background-image: url(img/bg3.jpg);
margin: 2px 0px;
padding: 57px;
height: 291px;
}
.box {
   width: 413px;
    float: left;
    margin-top: -128px;
    padding-bottom: 45px;
}
.mar-right40 {
   margin-right: 40px;
}
.box .title {
   background: #523141;
   border: #603d47 solid 1px;
   padding: -17px 0 12px 20px;
   margin-bottom: 0px;
   width: 328px;
   font-size: 8px;
   font-style: initial;
}
.content{
   float: left;
   margin: auto;
   padding: 0px;
}
p{
   width: 392px;
   line-height: 20px;
}
.button a{
   border: solid 1px;
   display: block;
   text-decoration: none;
   width: 107px;
   height: 31px;
   font-size: 21px;
   color: blanchedalmond;
   background-color: firebrick;
}
.button a {
   text-decoration: none;
   display: block;
   width: 90px;
   height: 30px;
   background: #d1869b;
   color: #ffffff;
   font-family: 'Economica',sans-serif;
   font-size: 17px;
   line-height: 30px;
   text-align: center;
   text-transform: uppercase;
   border: #d8d3d5 solid 1px;
}
.wrap1 {
   background: url(img/bg.jpg);
   border-bottom: #ffffff solid 1px;
   margin: 0 auto;
   padding: 0px 1em;
}
.title {
   background: #816f74;
   border: #ffffff solid 1px;
   padding: 20px 0px 20px 20px;
   margin: 30px 0px 0px 0px;
}
.h1 {
      font-size: 26px;
      color: #fff;
      font-family: 'Economica',sans-serif;
      font-weight: normal;
      text-transform: uppercase;
  }
.wrap1.service {
   float: left;
   width: 260px;
   padding-bottom: 40px;
}
.service .shadows {
   background: url(img/shadows.png) no-repeat;
   width: 252px;
   height: 20px;
}
.service .title {
   background: none;
   border: none;
   padding: 0;
   margin-bottom: 10px;
   margin-top: 20px;
}
p {
   line-height: 10px;
}
.service .button {
   margin-top: 34px;
}
.wrap4 {
      overflow: hidden;
      background: url(../images/bg4.jpg);
    }
.title {
   background: #816f74;
   border: #ffffff solid 1px;
   padding: 20px 0px 20px 20px;
   margin: 30px 0px 0px 0px;
}
.content {
   float: left;
   margin: auto;
   padding: 0px;
}
.leftcol {
   width: 570px;
   float: left;
}